{% load static %}
{% load utm_filters %}

<div class="columns is-variable is-5">
    <div class="column">
        <div class="box has-background-light">
            {% if list_title %}
                <div style="min-height: 5rem; display: flex;">
                    <h2 class="title is-2">{{ list_title }}</h2>  
                </div>
            {% endif %}
            <ul>
                {% for comp in object_list %}
                    {% if not comp.kkz %}
                        {% if comp.start < now and now < comp.finish or user.is_superuser %}
                            {% if is_team_list %}
                                <div class="box clickable-box" data-href="{% url 'interface:team-competition-detail' slug=comp.slug %}?utm_source={{ comp|get_utm_source_team }}">
                            {% else %}
                                <div class="box clickable-box" data-href="{% url 'interface:competition-detail' slug=comp.slug %}?utm_source={{ comp|get_utm_source_regular }}">
                            {% endif %}
                        {% else %}
                            <div class="box" style="border: thin solid darkslategray; margin-bottom: 1rem;">
                        {% endif %}

                            <h2 class="title is-3 is-link">{{ comp.lab.name }} <span class="tag {{ comp.lab.lab_type|lab_type_class }}">{{ comp.lab.get_lab_type_display }}</span></h2>

                            {% if comp.start > now %}
                                <h4 class="subtitle is-5 has-text-warning">
                                    Работа станет доступна: {{ comp.start|date:"H:i" }}
                                </h4>
                            {% elif comp.finish < now %}
                                <h4 class="subtitle is-5 has-text-danger">
                                    Работа была завершена: {{ comp.finish }}
                                </h4>
                            {% else %}
                                <h4 class="subtitle is-5 has-text-success">
                                    Работа доступна для выполнения до {{ comp.finish|date:"H:i" }}!
                                </h4>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}

                {% if object_list|length == 0 %}
                    <li>Доступных экзаменов нет.</li>
                {% endif %}
            </ul>
        </div>
    </div>

    {% if not is_team_list %}
        <div class="column">
            <div class="box has-background-light">
                <div style="min-height: 8rem;">
                    <h2 class="title is-3">Контрольно-квалификационные задания</h2>
                </div>
                {% for kkz, comps in kkz_groups.items %}
                    <div class="box" style="border: thin solid darkslategray; margin-bottom: 1rem;">
                        <h2 class="title is-3">{{ kkz.name }}</h2>
                        <ul>
                            {% for comp in comps %}
                                {% if comp.start < now and now < comp.finish or user.is_superuser %}
                                    <div class="box kkz-inner-box" data-href="{% url 'interface:competition-detail' slug=comp.slug %}?utm_source={{ comp|get_utm_source_regular }}">
                                        <h3 class="title is-4 is-link">{{ comp.lab.name }}</h3>
                                    </div>
                                {% else %}
                                    <div class="box" style="border: thin solid gray; margin-bottom: 1rem;">
                                        <h3 class="title is-4">{{ comp.lab.name }}</h3>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </ul>

                        {% if kkz.start > now %}
                            <h4 class="subtitle is-5 has-text-warning">
                                Экзамен станет доступен: {{ kkz.start|date:"H:i" }}
                            </h4>
                        {% elif kkz.finish < now %}
                            <h4 class="subtitle is-5 has-text-danger">
                                Экзамен был завершён: {{ kkz.finish }}
                            </h4>
                        {% else %}
                            <h4 class="subtitle is-5 has-text-success">
                                Экзамен доступен для выполнения до {{ kkz.finish|date:"H:i" }}!
                            </h4>
                        {% endif %}
                    </div>
                {% empty %}
                    <p>Нет доступных контрольно-квалификационных заданий.</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Обработчики кликов по кликабельным блокам
        const clickableBoxes = document.querySelectorAll('.clickable-box, .kkz-inner-box');
        clickableBoxes.forEach(function(box) {
            box.addEventListener('click', function() {
                const href = this.getAttribute('data-href');
                if (href) {
                    window.location.href = href;
                }
            });
        });
        
        function checkForUpdates() {
            fetch('/api/check_updates/')
                .then(response => response.json())
                .then(data => {
                    if (data.update_required) {
                        location.reload();
                    }
                })
                .catch(error => console.error("Ошибка проверки обновлений:", error));
        }
        setInterval(checkForUpdates, 5000);
    });
</script>
