<div class="modal" id="dependency-confirm-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title" id="dependency-modal-title">Зависимости задания</p>
            <button class="delete" aria-label="close" id="dependency-modal-close"></button>
        </header>
        <section class="modal-card-body">
            <p class="content" id="dependency-modal-message"></p>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-info" id="dependency-modal-confirm">Добавить</button>
            <button class="button" id="dependency-modal-cancel">Отмена</button>
        </footer>
    </div>
</div>
