<head>
<!-- ... -->
{% load django_simple_bulma %}
{% bulma %}
{% font_awesome %}
<!-- ... -->
</head>

<nav class="navbar is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <h1><strong>КИБЕРПОЛИГОН</strong></h1>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{% url 'interface:lab-list' %}">
        Главная
      </a>

      <a class="navbar-item">
        Документация
      </a>

      {% if user.is_superuser %}
        <a class="navbar-item" href = "{% url 'interface:platoon-list' %}">
          Список взводов
        </a>
      {% endif %}

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Другое
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">

          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <a class="button is-light" href="{% url 'admin:index' %}">
                        <strong>Админ-панель</strong>
                    </a>
                {% endif %}
                <form class="m-0" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="button is-light" type="submit"><strong>Выйти</strong></button>
                </form>
            {% else %}
              <a class="button is-primary" href="{% url 'interface:register_user' %}">
                <strong>Войти как участник</strong>
              </a>
              <a class="button is-light" href="{% url 'login' %}">
                <strong>Войти как администратор</strong>
              </a>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>


<body>
    <section class="hero is-fullheight-with-navbar">
        <div class="section">
            {% block content %}
            {% endblock %}
        </div>
    </section>
</body>


<footer class="footer mt-auto">
  <div class="content has-text-centered">
    <p>
      Разработано в <strong>ВУЦ НИУ ВШЭ</strong>
    </p>
  </div>
</footer>