
{% extends 'interface/base.html' %}


{% block content %}
    <div class="columns is-centered">
        <div class="column is-two-thirds">
            <h1 class="title is-2">{{ object.lab.name }}</h1>
            <div class="column is-one-quarter p-0 mb-4">
                <div id="timer" class="message is-dark">
                    <div class="message-body">
                        <h2 class="has-text-weight-bold">Оставшееся время:</h2>

                        <div id="countdown" class="has-text-weight-bold has-text-danger">
                             {{ delta.hours }} <span>:</span>
                             {{ delta.minutes }} <span>:</span>
                             {{ delta.seconds }}
                        </div>
                    </div>
                </div>
            </div>
            {% if progress %}
                <progress class="progress is-success" value="{{ progress }}" max="100">{{ progress }}%</progress>
            {% endif %}

            {% if user.is_superuser %}
                {% if button %}
                    <div id="button-video-container" style="display: flex; align-items: center;">
                        <button id="start-now" class="button is-danger is-large"
                                data-slug="{{ object.slug }}" data-lab="{{ object.lab.name }}"
                                data-start="{{ competition.start }}" data-finish="{{ competition.finish }}">
                            Начать сейчас
                        </button>
                        <div id="video-container" class="hidden">
                            {% load static %}
                                <video id="exam-video" style="width: auto; height: 62px; border-radius: 4px;" class="is-hidden" autoplay muted>
                                    <source src="{% static 'videos/rocket_no_back.mp4' %}" type="video/mp4"></source>
                                </video>
                        </div>
                    </div>
                {% endif %}

                <div id="competition-slug" data-slug="{{ object.slug }}">
                    <table class="table" style="border-spacing: 7px;">
                      <thead>
                        <tr>
                            <th><abbr title="Позиция" style="text-decoration: none;">Поз.</abbr></th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Взвод</th>
                            <th>Затраченное время</th>
                            <th>Время сдачи</th>
                        </tr>
                      </thead>
                      <tbody  id="solutions-table">

                      </tbody>
                    </table>
                </div>
            {% endif %}
            {% with object=object.lab %}
                {% include 'interface/lab_data.html' %}
            {% endwith %}
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const startButton = document.getElementById("start-now");
            const video = document.getElementById("exam-video");

            if (startButton) {
                startButton.addEventListener("click", function () {
                    video.style.display = "block";
                    video.play();

                    video.onended = function () {
                        video.style.display = "none";
                    };
                });
            }
        });
    </script>

    <script>
        function refreshSolutions() {
            if (!document.getElementById('competition-slug')) { return; }
            var competitionSlug = document.getElementById('competition-slug').getAttribute('data-slug');
            $.ajax({
                url: `/api/get_competition_solutions/${competitionSlug}/`,
                type: 'GET',
                success: function(response) {
                    var tableBody = document.querySelector('#solutions-table');
                    tableBody.innerHTML = '';

                    if (response.solutions.length === 0) {
                        tableBody.innerHTML = `
                            <tr>
                                <td colspan = 6 style="text-align: center; color: gray;">Пока никто не выполнил работу</td>
                            </tr>
                        `;
                    } else {
                        response.solutions.forEach(function(solution) {
                            var row = document.createElement('tr');
                            row.innerHTML = `
                                 <th>${solution.pos}</th>
                                 <td>${solution.user_first_name}</td>
                                 <td>${solution.user_last_name}</td>
                                 <td>${solution.user_platoon}</td>
                                 <td>${solution.spent}</td>
                                 <td>${solution.datetime}</td>
                                 `;
                            tableBody.appendChild(row);
                        });
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Error loading solutions:", error);
                }
            });
        }

        setInterval(refreshSolutions, 1000);
    </script>


    <script>
        let end = false;
        window.onload = function() {
            if (localStorage.getItem('end') === 'true') {
                end = true;
            } else {
                end = false;
            }
        }

        function updateTimer() {
            const countdownElem = document.getElementById('countdown');
            const text = countdownElem.textContent.trim();
            if (text === "Экзамен завершён") {
                return;
            }


            var hours = parseInt(text.split(':')[0]);
            var minutes = parseInt(text.split(':')[1]);
            var seconds = parseInt(text.split(':')[2]);

            if (hours === 0 && minutes === 0 && seconds === 0) {
                // Time is fully exhausted
                countdownElem.textContent = "Экзамен завершён";
                if (!end) {
                    end = true;
                    localStorage.setItem('end', 'true');
                }
                return;
            }

            if (seconds > 0) {
                seconds--;
            } else {
                if (minutes > 0) {
                    minutes--;
                    seconds = 59;
                } else {
                    if (hours > 0) {
                        hours--;
                        minutes = 59;
                        seconds = 59;
                    } else {
                        if (!end) {
                            {% if available and not solutions %}
                                location.reload();
                            {% endif %}
                            end = true;
                            localStorage.setItem('end', 'true');
                        }
                    }
                }
            }

            // Update the timer display
            document.getElementById('countdown').textContent =
                (hours < 10 ? '0' : '') + hours + ' : ' +
                (minutes < 10 ? '0' : '') + minutes + ' : ' +
                (seconds < 10 ? '0' : '') + seconds;
        }


        function fetchTime() {
            // Get the competition ID from the template (assuming you pass it in context)
            var competitionId = "{{ object.pk }}";

            // Make an AJAX GET request to fetch the remaining time
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '{% url 'get_time' competition_id=object.id %}', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    console.log(response.hours);

                    // Update the timer display with new time
                    document.getElementById('countdown').textContent =
                        (response.hours < 10 ? '0' : '') + response.hours + ' : ' +
                        (response.minutes < 10 ? '0' : '') + response.minutes + ' : ' +
                        (response.seconds < 10 ? '0' : '') + response.seconds;
                }
            };
            xhr.send();
        }
        window.onload = function() {
            fetchTime();
            refreshSolutions();
        }

        // Update the timer every second
        setInterval(updateTimer, 1000);
        setInterval(fetchTime, 30000);
    </script>

{% load static %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.4.0/luxon.min.js"></script>
    <script src="{% static 'admin/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'admin/js/button.js' %}"></script>

{% endblock %}
