
{% extends 'interface/base.html' %}
{% load static %}

{% block container_class %}container-full-width{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/competition_detail.css' %}">
{% endblock %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-full">
            <h1 class="title is-2">{{ object.lab.name }} - {{ object.lab.get_lab_type_display }}</h1>
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-three-quarters">
            {% if user.is_superuser %}
                <div class="box mb-5" style="border: 1px solid rgba(0, 0, 0, 0.1)">
                    <h2 class="has-text-weight-bold">Общий прогресс:</h2><br>
                    <progress class="progress is-success" value="{{ progress }}" max="100" id="total-progress-bar">{{ progress }}%</progress>

                    {% if button %}
                        <div id="button-video-container" style="display: flex; align-items: center;">
                            <button id="start-now" class="button is-danger is-large"
                                    data-slug="{{ object.slug }}">
                                Начать сейчас
                            </button>
                            <div id="video-container" class="hidden">
                                {% load static %}
                                    <video id="exam-video" style="width: auto; height: 62px; border-radius: 4px;" class="is-hidden" autoplay muted>
                                        <source src="{% static 'videos/rocket_no_back.mp4' %}" type="video/mp4"></source>
                                    </video>
                            </div>
                        </div>
                    {% endif %}

                    <div id="competition-slug" data-slug="{{ object.slug }}">
                        <table class="table is-fullwidth" style="border-spacing: 7px;">
                        <thead>
                            <tr>
                                <th><abbr title="Позиция" style="text-decoration: none;">Поз.</abbr></th>
                                <th>Имя</th>
                                <th>Фамилия</th>
                                <th>Взвод</th>
                                {% if is_team_competition %}
                                    <th>Команда</th>
                                {% endif %}
                                {% if object.tasks %}
                                    <th>Решено</th>
                                    <th>Прогресс</th>
                                {% endif %}
                                <th>Затраченное время</th>
                                <th>Время сдачи</th>
                            </tr>
                        </thead>
                        <tbody  id="solutions-table">

                        </tbody>
                        </table>
                    </div>
                </div>
            {% elif object.lab.platform == "PN" %}
                <div class="iframe-container" style="position: relative;">
                    <button class="iframe-toggle-slider" id="expandIframeBtn">
                        <i class="fas fa-expand"></i><span class="slider-text"> Развернуть на весь экран</span>
                    </button>
                    <iframe 
                        id="pnetFrame"
                        style="box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); border-radius: 13px; border: 1px solid #e0e0e0; aspect-ratio: 16/9;"
                        src="/pnetlab/" 
                        width="100%"
                        class="mb-5"
                        height="600px"
                        frameborder="0">
                    </iframe>
                </div>
            {% endif %}
            {% with object=object.lab %}
                {% include 'interface/lab_data.html' %}
            {% endwith %}

        </div>
        <div class="column is-one-quarter">
            <div id="timer" class="message is-dark" style="box-shadow: 0 0px 32px rgba(0,0,0,0.09); border: 1px solid rgba(0, 0, 0, 0.1)">
                <div class="message-body">
                    <h2 class="has-text-weight-bold">Оставшееся время:</h2>

                    <div id="countdown" class="has-text-weight-bold has-text-danger">
                         {{ delta.hours }} <span>:</span>
                         {{ delta.minutes }} <span>:</span>
                         {{ delta.seconds }}
                    </div>
                </div>
            </div>

            {% if not user.is_superuser and object.level %}
                <span class="tag is-medium "><h5 class="title is-5">Ваш вариант: {{ object.level.level_number }}</h5></span>
            {% endif %}
            
            {% if user.is_superuser %}
                {% if assigned_tasks %}
                    {% include 'interface/_tasks_list.html' with tasks=assigned_tasks title="Задания" %}
                {% endif %}
            {% else %}
                {% if assigned_tasks %}
                    {% include 'interface/_tasks_list.html' with tasks=assigned_tasks title="Ваши задания" %}
                {% endif %}
            {% endif %}

            
            {% if not user.is_superuser and object.lab.answer_flag %}
                <div id="answer-form" class="box" style="border: 1px solid rgba(0, 0, 0, 0.1)">
                    {% if submitted %}
                        <div class="notification is-success has-text-white">Вы выполнили работу!</div>
                    {% elif available %}
                        <form action="" method="get">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="field">
                                    <label class="label" for="{{ field.auto_id }}">{{ field.label }}</label>
                                    <div class="control">
                                        {{ field }}
                                    </div>
                                </div>
                            {% endfor %}
                            <input class="button is-danger" type="submit" value="Проверить">
                        </form>
                    {% else %}
                        <div class="notification is-danger">Экзамен завершён</div>
                    {% endif %}
                </div>
            {% endif %}
                

        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const startButton = document.getElementById("start-now");
            const video = document.getElementById("exam-video");

            if (startButton) {
                startButton.addEventListener("click", function () {
                    video.style.display = "block";
                    video.play();

                    video.onended = function () {
                        video.style.display = "none";
                    };
                });
            }
        });
    </script>
    <script src="{% static 'admin/js/jquery-3.7.1.min.js' %}"></script>

    <script src="{% static 'js/gsap.min.js' %}"></script>
    <script src="{% static 'js/Flip.min.js' %}"></script>

    <script>
    gsap.registerPlugin(Flip);
        function refreshSolutions() {
            if (!document.getElementById('competition-slug')) { return; }
            var competitionSlug = document.getElementById('competition-slug').getAttribute('data-slug');
            $.ajax({
                url: `/api/get_competition_solutions/${competitionSlug}/`,
                type: 'GET',
                success: function(response) {
                    var tableBody = document.querySelector('#solutions-table');
                    var oldState = Flip.getState(tableBody.querySelectorAll('tr[data-flip-id]'));
                    console.log("Old state:", oldState);
                    const existingRows = {};
                    tableBody.querySelectorAll('tr[data-flip-id]').forEach(row => {
                      const id = row.getAttribute('data-flip-id');
                      existingRows[id] = row;
                    });
                    const newRows = [];
                    {#tableBody.innerHTML = '';#}

                    var totalProgressBar = document.querySelector('#total-progress-bar');

                    if (totalProgressBar) {
                        totalProgressBar.value = response.total_progress;
                        totalProgressBar.max = response.max_total_progress;
                        totalProgressBar.textContent = response.total_progress + '%';
                    }


                    if (response.solutions.length === 0) {
                        const row = document.createElement('tr');
                        tableBody.innerHTML = `
                                <td colspan = 6 style="text-align: center; color: gray;">Пока никто не выполнил работу</td>
                        `;
                        newRows.push(row);
                    } else {
                        response.solutions.forEach(function(solution) {
                            const id = solution.user_id || solution.pos;
                            let row = existingRows[id];
                            if (!row) {
                              row = document.createElement('tr');
                              row.setAttribute('data-flip-id', id);
                            }
                            row.innerHTML = `
                                <th>${solution.pos}</th>
                                <td>${solution.user_first_name}</td>
                                <td>${solution.user_last_name}</td>
                                <td>${solution.user_platoon}</td>
                                {% if is_team_competition %}
                                    <td>${solution.team_name}</td>
                                {% endif %}
                                {% if object.tasks %}
                                    <td>${solution.progress}/${response.total_tasks}</td>
                                    <td><progress class="progress is-success" value="${solution.progress}" max="${response.total_tasks}">${solution.progress}</progress></td>
                                {% endif %}
                                <td>${solution.spent}</td>
                                <td>${solution.datetime}</td>
                                `;
                            {#tableBody.appendChild(row);#}
                            newRows.push(row);
                        });
                    }
                    // Clear the table body (but not remove rows that might be reused elsewhere)
                    tableBody.innerHTML = '';
                    // Append each row in the new order
                    newRows.forEach(function(row) {
                      tableBody.appendChild(row);
                    });
                    Flip.from(oldState, {
                        duration: 2,
                        ease: "power1.inOut"
                    });
                },
                error: function(xhr, status, error) {
                    console.error("Error loading solutions:", error);
                }
            });
        }

        setInterval(refreshSolutions, 10000);
    </script>

    {% if user.is_superuser %}
    <script>
        let end = false;
        window.onload = function() {
            if (localStorage.getItem('end') === 'true') {
                end = true;
            } else {
                end = false;
            }
            fetchTime();
            refreshSolutions();
        }

        function updateTimer() {
            const countdownElem = document.getElementById('countdown');
            const text = countdownElem.textContent.trim();
            if (text === "Экзамен завершён") {
                return;
            }

            var hours = parseInt(text.split(':')[0]);
            var minutes = parseInt(text.split(':')[1]);
            var seconds = parseInt(text.split(':')[2]);

            if (hours === 0 && minutes === 0 && seconds === 0) {
                // Time is fully exhausted
                countdownElem.textContent = "Экзамен завершён";
                if (!end) {
                    end = true;
                    localStorage.setItem('end', 'true');
                }
                return;
            }

            if (seconds > 0) {
                seconds--;
            } else {
                if (minutes > 0) {
                    minutes--;
                    seconds = 59;
                } else {
                    if (hours > 0) {
                        hours--;
                        minutes = 59;
                        seconds = 59;
                    } else {
                        if (!end) {
                            {% if available and not solutions %}
                                location.reload();
                            {% endif %}
                            end = true;
                            localStorage.setItem('end', 'true');
                        }
                    }
                }
            }

            // Update the timer display
            document.getElementById('countdown').textContent =
                (hours < 10 ? '0' : '') + hours + ' : ' +
                (minutes < 10 ? '0' : '') + minutes + ' : ' +
                (seconds < 10 ? '0' : '') + seconds;
        }


        function fetchTime() {
            // Get the competition ID from the template (assuming you pass it in context)
            var competitionId = "{{ object.pk }}";

            // Make an AJAX GET request to fetch the remaining time
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '{% url 'get_time' competition_id=object.id %}', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    console.log(response.hours);

                    // Update the timer display with new time
                    document.getElementById('countdown').textContent =
                        (response.hours < 10 ? '0' : '') + response.hours + ' : ' +
                        (response.minutes < 10 ? '0' : '') + response.minutes + ' : ' +
                        (response.seconds < 10 ? '0' : '') + response.seconds;
                }
            };
            xhr.send();
        }
        window.onload = function() {
            fetchTime();
            refreshSolutions();
        }

        // Update the timer every second
        setInterval(updateTimer, 1000);
        setInterval(fetchTime, 30000);
    </script>

    <meta name="csrf-token" content="{{ csrf_token }}">
    {% if button %}
        <script src="{% static 'admin/js/button.js' %}"></script>
    {% endif %}

    {% endif %}

    
    {% if object.lab.platform == "PN" and not user.is_superuser %}
        <script src="{% static 'js/pnet_controller.js' %}"></script>

        <div class="iframe-fullscreen-overlay" id="iframeOverlay"></div>
        <button class="iframe-collapse-btn" id="collapseIframeBtn">
            <i class="fas fa-compress"></i>
        </button>
    {% endif %}

{% endblock %}
