{% extends 'interface/base.html' %}
{% load static %}

{% block content %}
    <h1 class="title is-1">Доступные экзамены</h1>
<div class="block">
<ul>
{% for comp in object_list %}
    <div class="box" style="border: thin solid darkslategray;">
        <h2 class="title is-3 is-link"><a href="{% url 'interface:competition-list' %}{{ comp.slug }}">{{ comp.lab.name }}</a></h2>
        <h4 class="subtitle is-5">Начало: {{ comp.start }}</h4>
    </div>
{% empty %}
    <li>Доступных экзаменов нет.</li>
{% endfor %}
</ul>


</div>
{% endblock %}