{% extends 'interface/base.html' %}
{% load static %}
{% load utm_filters %}

{% block container_class %}container-full-width{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/competition_detail.css' %}">
{% endblock %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-full">
            <h1 class="title is-2">{{ object.lab.name }} - <span class="tag {{ object.lab.lab_type|lab_type_class }}">{{ object.lab.get_lab_type_display }}</span></h1>
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-three-quarters">
            {% if user.is_superuser %}
                <div class="box">
                    {% include 'interface/_solutions_table.html' with instance_slug=object.slug instance_type='competition' show_team_column=is_team_competition show_max_tasks=False progress=progress max_progress=max_progress %}
                
                    {% include 'interface/_control_buttons.html' with button_start_now=button_start_now button_end_now=button_end_now button_resume=button_resume button_delete_from_platform=button_delete_from_platform instance=object instance_type='competition' start_time=object.start finish_time=object.finish %}
                </div>
            {% elif object.lab.platform == "PN" or object.lab.platform == "CMD" %}
                <div class="iframe-container" style="position: relative;">
                    <button class="iframe-toggle-slider" id="expandIframeBtn">
                        <i class="fas fa-expand"></i><span class="slider-text"> Развернуть на весь экран</span>
                    </button>
                    {% if object.lab.platform == "CMD" %}
                        <button class="console-refresh-slider" id="refreshConsoleBtn" onclick="refreshConsoleSession()">
                            <i class="fas fa-sync-alt"></i><span class="slider-text"> Обновить консоль</span>
                        </button>
                    {% endif %}
                    <iframe
                        id="pnetFrame"
                        style="box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); border-radius: 13px; border: 1px solid #e0e0e0; aspect-ratio: 16/9;"
                        {% if object.lab.platform == "PN" %}data-src="/pnetlab/"{% endif %}
                        width="100%"
                        class="mb-5"
                        height="600px"
                        frameborder="0"
                        tabindex="0">
                    </iframe>
                </div>
            {% endif %}
            
            {% with object=object.lab %}
                {% include 'interface/lab_data.html' %}
            {% endwith %}

        </div>
        <div class="column is-one-quarter">
            {% include 'interface/_timer.html' with delta=delta instance_id=object.id instance_type='competition' %}

            {% if not user.is_superuser %}
                <span class="tag is-medium mb-3">
                    <h5 class="title is-5 mb-0">Ваше имя пользователя: <br>{{ pnet_username }}</h5>
                </span>
            {% endif %}

            {% if not user.is_superuser and object.level %}
                <span class="tag is-medium">
                    <h5 class="title is-5">Ваш вариант: {{ object.level.level_number }}</h5>
                </span>
            {% endif %}

            {% if object.lab.need_kibana and not user.is_superuser %}
                <a href="{% url 'interface:kibana-dashboard' slug=object.slug %}" class="button is-dark is-medium mb-3 mt-0">
                    <img src="{% static 'icons/kibana-dark-logo.svg' %}" style="width: 20px; height: 20px; filter: invert(1); margin-right: 8px;" alt="Kibana">
                    Перейти в ELK
                </a>
            {% endif %}

            {% if user.is_superuser %}
                {% if assigned_tasks %}
                    {% include 'interface/_tasks_list.html' with tasks=assigned_tasks title="Задания" is_superuser=user.is_superuser competition_slug=object.slug %}
                {% endif %}
            {% else %}
                {% if assigned_tasks %}
                    {% include 'interface/_tasks_list.html' with tasks=assigned_tasks title="Ваши задания" is_superuser=user.is_superuser competition_slug=object.slug %}
                {% endif %}
            {% endif %}

            {% if not user.is_superuser and object.lab.answer_flag %}
                <div id="answer-form" class="box" style="border: 1px solid rgba(0, 0, 0, 0.1)">
                    {% if submitted %}
                        <div class="notification is-success has-text-white">Вы выполнили работу!</div>
                    {% elif available %}
                        <form action="" method="get">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="field">
                                    <label class="label" for="{{ field.auto_id }}">{{ field.label }}</label>
                                    <div class="control">
                                        {{ field }}
                                    </div>
                                </div>
                            {% endfor %}
                            <input class="button is-danger" type="submit" value="Проверить">
                        </form>
                    {% else %}
                        <div class="notification is-danger">Работа завершена</div>
                    {% endif %}
                </div>
            {% endif %}

        </div>
    </div>

    <meta name="csrf-token" content="{{ csrf_token }}">
    
    <script src="{% static 'admin/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/gsap.min.js' %}"></script>
    <script src="{% static 'js/Flip.min.js' %}"></script>
    <script src="{% static 'js/timer.js' %}"></script>
    <script src="{% static 'js/solutions_table.js' %}"></script>
    
    {% if user.is_superuser %}
        <script src="{% static 'js/control_buttons.js' %}"></script>
    {% else %}
        <script src="{% static 'js/tasks_controller.js' %}"></script>
    {% endif %}

    {% if object.lab.platform == "PN" or object.lab.platform == "CMD" %}
        {% if not user.is_superuser %}
            <script src="{% static 'js/common_utils.js' %}"></script>
            <script src="{% static 'js/pnet_iframe_controller.js' %}"></script>
            {% if object.lab.platform == "PN" %}
                <script src="{% static 'js/pnet_controller.js' %}"></script>
            {% elif object.lab.platform == "CMD" %}
                <script src="{% static 'js/cmd_controller.js' %}"></script>
            {% endif %}

            <div class="iframe-fullscreen-overlay" id="iframeOverlay"></div>
            <button class="iframe-collapse-btn" id="collapseIframeBtn">
                <i class="fas fa-compress"></i>
            </button>
        {% endif %}
    {% endif %}

{% endblock %}