
{% block lab_data %}
    <p><div class="content ml-2 mt-1">{{ object.description | safe  }}</div></p>

{% if not user.is_superuser %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const slug = "{{ object.slug }}";

            function checkFormAvailability() {
                fetch(`/api/check_availability/${slug}/`)
                    .then(response => response.json())
                    .then(data => {
                        if (!data.available) {
                            location.reload();
                        }
                    })
                    .catch(error => console.error("Ошибка проверки доступности:", error));
            }
        });
    </script>
{% endif %}

{% endblock %}
