{% extends 'interface/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/lab_menu.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title is-1 page-title">Лабораторные работы</h1>
    
    <div class="cards-container">        
        <!-- Второй квадрат - Информационное противоборство -->
        <a href="{% url 'interface:lab-list' %}?program=INFOBOR" class="square-card">
            <img src="{% static 'images/hacker-fictional-hacking-system-9qw4il2t46qcf0rx.jpg' %}" alt="Информационное противоборство" class="background-image">
            <div class="overlay">
                <h3>Информационное противоборство</h3>
            </div>
        </a>
        
        <!-- Третий квадрат - Соревнования -->
        <a href="{% url 'interface:lab-list' %}?program=COMPETITION" class="square-card">
            <img src="{% static 'images/computers.jpg' %}" alt="Соревнования" class="background-image">
            <div class="overlay">
                <h3>Соревнования</h3>
            </div>
        </a>
    </div>
</div>
{% endblock %}

