
{% block lab_data %}
    {% if not user.is_superuser %}
        <span class="tag is-medium "><h5 class="title is-5">Ваш вариант: {{ issue.level.level_number }}</h5></span>
    {% endif %}
<p><div class="content ml-2 mt-1">{{ object.description | safe  }}</div></p>
{% if not user.is_superuser and issue.tasks.all %}
    <div class="box">
    <h3 class="title is-3">Задания</h3>
    {% for task in issue.tasks.all %}
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Задание {{ forloop.counter }} </strong>
                        <br />
                            {{ task.description }}
                        <br />
                    </p>
                </div>
            </div>
        </article>
    {% endfor %}
    </div>


{% endif %}
{% if not user.is_superuser and object.answer_flag %}
    {% if submitted %}
        <div class="notification is-success">Вы выполнили работу!</div>
    {% else %}
        <form action="" method="get">
        {% csrf_token %}
        {% for field in form %}
            <div class="field">
                <label class="label" for="{{ field.auto_id }}">{{ field.label }}</label>
                <div class="control">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <input class="button is-danger" type="submit" value="Проверить">
    </form>
    {% endif %}
{% endif %}
{% endblock %}