[Unit]
Description=Cyberpolygon-appscheduler
After=network.target

[Service]
User=root
WorkingDirectory={%workdir%}
ExecStart={%run_script%}
Restart=always
StandardOutput=append:/var/log/cyberpolygon_scheduler.log
StandardError=append:/var/log/cyberpolygon_scheduler.log

[Install]
WantedBy=multi-user.target