[Unit]
Description=Cyberpolygon-interface
After=network.target
StandardOutput=syslog
StandardError=syslog

[Service]
User=root
WorkingDirectory={%workdir%}
ExecStart={%run_script%}
Restart=always

[Install]
WantedBy=multi-user.target