{% extends 'interface/base.html' %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-narrow">
            <div class="box">
                <h2 class="title is-2">Ваш пароль является временным</h2> 
                <h4 class = "title is-4">Замените его на новый и запомните</h1>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="field">
                            <label class="label" for="{{ field.auto_id }}">{{ field.label }}</label>
                            <div class="control">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                     <div class ="buttons">
                        <button class="button is-black" type="submit">Сменить пароль</button>
                        <a class="button is-light" href="{% url 'interface:lab-list' %}">Пропустить</a>
                     </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}