{% extends 'registration/login_base.html' %}

{% block extra_script %}
    {%if user.is_authenticated %}
        {% if user.is_staff %}
            <script>
                console.log(window.location.href);
                window.location.replace("{% url 'interface:lab-menu' %}");
            </script>
        {% else %}
            <script>
                console.log(window.location.href);
                window.location.replace("{% url 'interface:competition-list' %}");
            </script>
        {% endif %}
    {% endif %}
{% endblock %}

{% block form_title %}
    <h2 class="title is-2">Вход в аккаунт</h2>
{% endblock %}

{% block button %}
    <button class="button is-black is-fullwidth" type="submit">Войти</button>
{% endblock %}
