[Unit]
Description=Cyberpolygon-interface
After=network.target

[Service]
User={{ user }}
WorkingDirectory={{ workdir }}
ExecStart={{ run_script }}
Restart=always
StandardOutput=append:{{ log_dir }}/cyberpolygon.log
StandardError=append:{{ log_dir }}/cyberpolygon.log

[Install]
WantedBy=multi-user.target