# PostgreSQL Configuration
POSTGRES_DB=cyberpolygon
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5431

# Connection settings
POSTGRES_HOST=localhost
DB_NAME=cyberpolygon
DB_PORT=5431
USE_POSTGRES=yes
