# PostgreSQL Configuration
POSTGRES_DB=cyberpolygon
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5431

# Connection settings
POSTGRES_HOST=localhost
DB_NAME=cyberpolygon
DB_PORT=5431
USE_POSTGRES=yes

# ELK Stack Configuration
ELASTICSEARCH_URL=http://localhost:9200
KIBANA_URL=http://localhost:5601
LOGSTASH_HOST=localhost
LOGSTASH_PORT=5044
